In [37]:
class Car:
    pass

In [39]:
audi=Car()

In [41]:
audi.year=2006
audi.milage=10
audi.make=345
audi.model="abc"

In [43]:
audi.make

345

In [45]:
audi.milage

10

In [47]:
audi.make

345

In [49]:
audi.model

'abc'

In [51]:
audi.year

2006

In [53]:
nano = Car()

In [55]:
nano.year=2007
nano.milage=67
nano.make=67
nano.model="xyz"

In [61]:
class Car:
    def __init__(self,milage,make,year,model):
        self.milage=milage
        self.year=year
        self.make=make
        self.model=model

In [65]:
nano1=Car(10,2009,45,"jdsk")
nano2=Car(10,2009,45,"jdsk")
nano3=Car(10,2009,45,"jdsk")
nano4=Car(10,2009,45,"jdsk")
nano5=Car(10,2009,45,"jdsk")
nano6=Car(10,2009,45,"jdsk")

In [207]:
class Car:
    def __init__(a,m,y,ma,mo):
        a.milage=m
        a.year=y
        a.make=ma
        a.model=mo

    def age(b,current_year):
        return current_year-b.year

    def milage1(self):
        print(f'Print a milage of the car {self.milage}')
    #if I want to print a method use __str__
    def __str__(c):
        return "this is from class i have created"

In [209]:
nano23=Car(10,2009,45,"dbskjcbdskcbnsdk")

In [211]:
nano23.age()

TypeError: Car.age() missing 1 required positional argument: 'current_year'

In [213]:
nano23.age(2024)

15

In [215]:
nano23.milage

10

In [217]:
nano23.milage1()

Print a milage of the car 10

In [219]:
#if I want to print a method use __str__

In [221]:
print(nano23)

this is from class i have created

In [223]:
class Car:
    def __init__(a,m,y,ma,mo):
        a.milage=m
        a.year=y
        a.make=ma
        a.model=mo

    def age2(a,current_year):
        return current_year-a.year

    def milage2(a):
        print(f'Print a milage of the car {a.milage}')
    def __str__(a):
        return "this is from class i have created"

In [225]:
nano33= Car(10,10,10,"dasd")

In [227]:
print(nano33)

this is from class i have created

In [233]:
print(nano33())

TypeError: 'Car' object is not callable

In [246]:
nano33.milage2()

Print a milage of the car 10

In [235]:
#if I want to print a method use __str__

In [276]:
class Person:
    def __init__(self,first_name,last_name,age):
        self.first_name=first_name
        self.last_name=last_name
        self.age=age

    def __str__(self):
        return (f'this is the person class')

In [278]:
person1=Person("Abhishek","Singh",26)

In [280]:
print(person1)

this is the person class

In [282]:
person1.age

26

In [284]:
person1.first_name

'Abhishek'

In [286]:
person1.last_name

'Singh'

In [353]:
class Student:

    def __init__(self,name,rollno,joining_date,current_topic):
        self.name=name
        self.rollno=rollno
        self.joining_date=joining_date
        self.current_topic=current_topic

    def curr_topic(self):
        print(f'current topic discussed in class is {self.current_topic}')

    def str_rollno(self):
        try:
            if type(self.rollno)==str:
                print("do nothing")
            else:
                return str(self.rollno)
        except Exception as e:
            print(f'this is my error message: {e}')

    def duration(self,current_date):
        print (f'duration of student in my class is {current_date - self.joining_date}')

    def __str__(self):
        return (f'this is student class')

In [355]:
student1=Student("Abhishek",842839,1997,"Encapsulation")
student2=Student("Sav","878798",2001,"Encapsulation 1.1")

In [357]:
student1.curr_topic

In [359]:
student1.curr_topic()

current topic discussed in class is Encapsulation

In [361]:
student1.duration()

TypeError: Student.duration() missing 1 required positional argument: 'current_date'

In [363]:
student1.duration(2024)

duration of student in my class is 27

In [365]:
print(student1)

this is student class

In [371]:
student2.rollno

'878798'

In [373]:
student1

In [377]:
student1.current_topic

'Encapsulation'

In [421]:
class Calculator:
    def __init__(self):
        self.first_number=int(input("enter first number"))
        self.second_number=int(input("enter second number"))

    def addition(self):
        return f'Addition of {self.first_number} and {self.second_number} numbers is = {self.first_number+self.second_number}'

    def subtraction(self):
        if self.first_number > self.second_number:
            return f'Subtraction of {self.first_number} and {self.second_number} numbers is = {self.first_number-self.second_number}'
        else:
            return f'Subtraction of {self.second_number} and {self.first_number} numbers is = {self.second_number-self.first_number}'

    def multiplication(self):
         return f'Multiplication of {self.first_number} and {self.second_number} numbers is = {self.second_number*self.first_number}'

    def division(self):
        try:
            return f'Division of {self.first_number} and {self.second_number} numbers is = {self.first_number/self.second_number}'
        except ZeroDivisionError:
            return f'Zero Division Error'
    def __str__(self):
        return f'calculator'

In [425]:
c1=Calculator()

enter first number 8
enter second number 9

In [427]:
c1.addition

In [429]:
c1.addition()

'Addition of 8 and 9 numbers is = 17'

In [431]:
c1.subtraction()

'Subtraction of 9 and 8 numbers is = 1'

In [433]:
c1.multiplication()

'Multiplication of 8 and 9 numbers is = 72'

In [435]:
c1.division()

'Division of 8 and 9 numbers is = 0.8888888888888888'

In [439]:
c2=Calculator()

enter first number 0
enter second number 9

In [441]:
c2.addition()

'Addition of 0 and 9 numbers is = 9'

In [445]:
c2.division()

'Division of 0 and 9 numbers is = 0.0'

In [447]:
c2.multiplication()

'Multiplication of 0 and 9 numbers is = 0'

In [449]:
c2.subtraction()

'Subtraction of 9 and 0 numbers is = 9'

In [451]:
c3=Calculator()

enter first number 4
enter second number 0

In [457]:
c3.addition()

'Addition of 4 and 0 numbers is = 4'

In [459]:
c3.division()

'Zero Division Error'

In [461]:
c3.subtraction()

'Subtraction of 4 and 0 numbers is = 4'

In [463]:
c3.multiplication()

'Multiplication of 4 and 0 numbers is = 0'

In [465]:
#Default constructor

class Student2:
    def who(self):
        print("this is a student")

In [467]:
s1=Student2()

In [469]:
s1.who()

this is a student

In [471]:
#non parametized constructor
class Company():
    def __init__(self):
        self.name="ineuron"
        self.address="Hyderabad"

    def show(self):
        print("name",self.name,"address",self.address)

In [473]:
cmp=Company()

In [475]:
cmp.show()

name ineuron address Hyderabad

In [477]:
#paramrtized constructor
class P_c():
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def age1(self):
        print("age1",self.age)

In [483]:
c11=P_c("Imran",27)

In [497]:
#private -- name here is private
class P_c1():
    def __init__(self,name,age):
        self.__name=name
        self.age=age

    def age1(self):
        print("age1",self.age)

In [499]:
c12=P_c1("Safron",27)

In [501]:
c12.age1()

age1 27

In [503]:
c12.age

27

In [531]:
#protected  --name here is protected
class P_c2():
    def __init__(self,name,age):
        self._name=name
        self.age=age

    def age2(self):
        print("age2",self.age)

In [537]:
c13=P_c2("Sav",27)

In [539]:
c13.age2()

age2 27

In [541]:
c13

In [543]:
c13()

TypeError: 'P_c2' object is not callable

In [545]:
c13.age

27

In [547]:
#     	  Own Class	     Derived Class	Object
# Private	   Yes	          No	      No
# Protecte     Yes	          Yes	      No
# Public	   Yes	          Yes	      Yes

In [561]:
class Rectangle:
    __length = 0
    __breadth= 0

    def __init__(self):
        self.__length=5
        self.__breadth=3

        print(self.__length)
        print(self.__breadth)

In [563]:
r1 = Rectangle()

5
3

In [565]:
r1

In [567]:
r1()

TypeError: 'Rectangle' object is not callable

In [569]:
print(r1)

<__main__.Rectangle object at 0x00000274C53AB380>

In [595]:
class Rectangle1:
    # _length = 0
    # _breadth= 0

    def __init__(self):
        self.length=5
        self.__breadth=3       

        print(self.length)
        print(self.__breadth)

    def show(self):
        print("this is printing private variable",self.__breadth)

In [597]:
rect = Rectangle1 ()

5
3

In [599]:
print(rect.length)

5

In [601]:
print(rect.__breadth)

AttributeError: 'Rectangle1' object has no attribute '__breadth'

In [603]:
print(rect.breadth)

AttributeError: 'Rectangle1' object has no attribute 'breadth'

In [605]:
rect.show()

this is printing private variable 3

In [613]:
rect._Rectangle1__breadth

3

In [615]:
#object_name(dot)(underscore)classname(double underscores)variable name
#Object._Class__Variable

In [629]:
class test:

    def __init__(self):
        self.a=6
        self._b=5
        self.__c=8

        print("public:",self.a,"protected:",self._b,"private:",self.__c)

In [631]:
t1=test()

public: 6 protected: 5 private: 8

In [633]:
t1.a

6

In [643]:
t1.b

AttributeError: 'test' object has no attribute 'b'

In [645]:
t1.c

AttributeError: 'test' object has no attribute 'c'

In [675]:
class test2:

    def __init__(self):
        self.a=6
        self._b=5
        self.__c=8

        print("public:",self.a,"protected:",self._b,"private:",self.__c)


    def show2(self):
        print("protected",self._b,"private",self.__c)

In [677]:
t2=test2()

public: 6 protected: 5 private: 8

In [679]:
t2.show2()

protected 5 private 8

In [681]:
t1._test__c   #for private

8

In [695]:
t2._b         #for protected

5

In [745]:
class Tyres:
    def __init__(self,branch,belted_bias,opt_press):
        self.branch=branch
        self.belted_bias=belted_bias
        self.opt_press=opt_press

    def __str__(self):
        return ("Tyres: \n \t Branch: " + self.branch + 
                "\n \t Belted-Bias: " + str(self.belted_bias) +
                "\n \t Optimal-pressure: " + str(self.opt_press))

class Engine:
    def __init__(self,fuel_type,noise_level):
        self.fuel_type=fuel_type
        self.noise_level=noise_level

    def __str__(self):
        return ("Engine: \n \t Fuel-Type: " + self.fuel_type + 
                "\n \t Noise-Level: " + str(self.noise_level))

class Body:
    def __init__(self,size):
        self.size=size

    def __str__(self):
        return ("Body: \n \t Size: " + self.size)

class Car:
    def __init__(self,tyres,engine,body):
        self.tyres=tyres
        self.engine=engine
        self.body=body

    def __str__(self):
        return (str(self.tyres) + "\n" + str(self.engine) + "\n" + str(self.body))

In [747]:
t=Tyres("Banglore",True,2.0)
e=Engine("Diesel",3)
b=Body('Medium')

In [749]:
c=Car(t,e,b)

In [751]:
print(c)

Tyres:
 	 Branch: Banglore
 	 Belted-Bias: True
 	 Optimal-pressure: 2.0
Engine:
 	 Fuel-Type: Diesel
 	 Noise-Level: 3
Body:
 	 Size: Medium

In [755]:
print(t)

Tyres:
 	 Branch: Banglore
 	 Belted-Bias: True
 	 Optimal-pressure: 2.0

In [757]:
print(e)

Engine:
 	 Fuel-Type: Diesel
 	 Noise-Level: 3

In [759]:
print(b)

Body:
 	 Size: Medium

In [761]:
#-----END OF ENCAPSULATION---------